body{
    font-family: 'PT Sans', sans-serif;
}

#month-changer{
    padding-top: 20px;
}

table tr:first-child th{
    border-top: none;
}

.table{
    font-size: 16px;
}

#header-row{
    border: none;
}

th{
    text-align: right;
}

td{
    width: 14.2%;
    text-align: right;
    border: 1px solid rgb(228, 226, 226);
}

.week-row{
    height: 110px;
}

.weekend-header{
    color: #DCDCDC;
}

.weekend{
    background-color:#F5F5F5;
    color: grey;
}

.single-event{
    background-color: #FCD9F9;
    text-align: left;
    color: black;

}